<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acerca de</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/icon.css">
</head>
<body>
	<div id="about">
		<div id="aboutLeft">
			<span class="icon-info"></span>
		</div>
		<div id="aboutRight">
			<h1>Nombre del programa</h1>
			<h2>Versión: 0.0.12</h2>
			<h3>Clase</h3>
			<p>Probabilidad y estadistica</p>
			<h3>Mestra</h3>
			<p>Gwendolin</p>
			<h3>Integrantes del equipo</h3>
			<ul>
				<li>Andrade Gozález Paulo Cesar</li>
				<li>Garcia Quijas Juan Pablo</li>
				<li>Lazo Godines Maria Ines</li>
				<li>Sanchez Guitierrez Alejandra Amaranta</li>
				<li>Zavala Ortega David</li>
			</ul>
		</div>
	</div>
</body>
</html>