<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Acerca de</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/icon.css">
</head>
<body>
	<div id="about">
		<div id="aboutLeft">
			<span class="icon-info"></span>
		</div>
		<div id="aboutRight">
			<h1>Probabilidad y Estadistica</h1>
			<h2>Versión: 0.6.2</h2>
			<h3>Materia:</h3>
			<p>Probabilidad y estadistica</p>
			<h3>Maestra:</h3>
			<p>Gwendolyne Albores</p>
			<h3>Integrantes del equipo:</h3>
			<ul>
				<li>Andrade Gozález Paulo Cesar</li>
				<li>Carmona Ojeda Miguel Agustín</li>
				<li>García Quijas Juan Pablo</li>
				<li>Lazo Godines María Ines</li>
				<li>Sánchez Gutiérrez Alejandra Amaranta</li>
				<li>Zavala Ortega David</li>
			</ul>
		</div>
	</div>
</body>
</html>